{% extends "leaderboard/base.html" %}
{% block title %}
<title>RLCard Leaderboard: CFR</title>
{% endblock title %}

{% block header %}
CFR
{% endblock header %}
  
{% block content %}
<div class="w3-container w3-row-padding w3-padding-large w3-margin-left w3-margin-right">
  <table class="w3-table w3-striped w3-bordered w3-border w3-card-4 w3-auto w3-centered w3-large w3-section">
    <thead>
      <tr class="w3-2017-lapis-blue">
        <th scope="col">Replay ID</th>
        <th scope="col">Opponent</th>
        <th scope="col">Game</th>
        <th scope="col">Replay Link</th>
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
        <tr>
          <th scope="row">{{ game.replayID }}</th>
          <td><a href="{{ game.agent2.lower }}">{{ game.agent2 }}</a></td>
          <td><a href="leducholdem">{{ game.gameName }}</a></td>
          <td><a href="{{ game.replayLink }}">{{ game.replayLink }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}