@import "cards.css";

.played-card-area {
    font-size: 12px;
}

.player-info {
    text-align: center;
    line-height: 130px;
    font-size: 16px;
    width: 130px;
    height: 130px;
    background-color: green;

    span {
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.player-main-area {
    background-color: initial;
}

#left-player {
    position: absolute;
    left: 0px;
    top: 10px;

    .player-main-area {
        width: 280px;
        height: 130px;
        font-size: 10px;

        .player-hand-up {
            position: absolute;
            top: 0px;
            margin-left: 130px;
            width: 150px;
        }

        .player-hand-down {
            position: absolute;
            top: 50px;
            margin-left: 130px;
            width: 150px;
        }
    }

    .played-card-area {
        position: relative;
        left: 100px;
        top: 20px;
    }
}

#right-player {
    position: absolute;
    right: 0px;
    top: 10px;

    .player-main-area {
        width: 280px;
        height: 130px;
        font-size: 10px;

        .player-info {
            float: right;
        }

        .player-hand-up {
            position: absolute;
            top: 0px;
            margin-right: 130px;
            width: 150px;
        }

        .player-hand-down {
            position: absolute;
            top: 50px;
            margin-right: 130px;
            width: 150px;
        }
    }

    .played-card-area {
        position: relative;
        right: 100px;
        top: 20px;
    }
}

#bottom-player {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -290px;

    .player-main-area {
        width: 580px;
        height: 130px;
        position: relative;

        .player-hand {
            position: absolute;
            top: 0px;
            margin-left: 130px;
            width: 450px;
        }
    }

    .played-card-area {
        position: relative;
        transform: translateY(30px);
    }
}

.playingCards {
    a.card.selected {
        bottom: 1em;
    }
}

