@import "cards.css";
.leduc-holdem-wrapper {

    .played-card-area {
        font-size: 12px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        .non-card {
            display: table;
            width: 280px;
            height: 100px;

            span {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                font-size: 16px;
            }
        }
    }

    .player-hand-placeholder {
        font-size: 16px;
        display: table;

        span {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }

    .player-info {
        font-size: 16px;
        width: 130px;
        height: 130px;
        border-radius: 25px;
        border: 2px solid #73AD21;
        display: table;

        span {
            white-space: pre;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }

    .player-main-area {
        background-color: initial;
        width: 380px;
        height: 130px;
        position: relative;

        .player-hand {
            position: absolute;
            top: 15px;
            left: 56px;
            padding-left: 20px;
            margin-left: 130px;
            width: 75px;
            height: 110px;
        }

        .player-hand-placeholder {
            width: 150px;
            height: 130px;
            position: absolute;
            top: 0;
            padding-left: 20px;
            margin-left: 130px;
        }
    }

    #top-player {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -190px;
    }

    #bottom-player {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -190px;
    }

    #public-card-area {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -75px;
        width: 130px;
        height: 150px;
        border-radius: 25px;
        border: 2px solid blue;
        display: table;

        .info-area {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .playingCards {
            transform: translate(3px, 10px);
        }
    }

    .playingCards {
        a.card.selected {
            bottom: 1em;
        }
    }
}

